In [33]:
import pandas as pd
#Traigo los CSV para trabajar
csv1 = pd.read_csv('p_data.csv', sep=';')
csv2 = pd.read_csv('w_data.csv', sep=';')

In [37]:
#Veo los datos de los datasets
print(csv1)

        Age      Sex          ID                 Race         Country  \
0      39.0     Male       49084                White   United-States
1      50.0     Male       68553                White   United-States
2      38.0     Male      143654                White   United-States
3      53.0     Male       41510                Black   United-States
4      28.0   Female      195025                Black            Cuba
...     ...      ...         ...                  ...             ...
48837  33.0     Male   597186815                White   United-States
48838  39.0   Female   735617153                White   United-States
48839  64.0     Male  1131807446                Black   United-States
48840  38.0     Male   781422087                White   United-States
48841  44.0     Male   161771296   Asian-Pac-Islander   United-States

        Education  Education-Num       Marital Status     Relationship
0       Bachelors           13.0        Never-married    Not-in-family
1       Bachelors           13.0   Married-civ-spouse          Husband
2         HS-grad            9.0             Divorced    Not-in-family
3            11th            7.0   Married-civ-spouse          Husband
4       Bachelors           13.0   Married-civ-spouse             Wife
...           ...            ...                  ...              ...
48837   Bachelors           13.0        Never-married        Own-child
48838   Bachelors           13.0             Divorced    Not-in-family
48839     HS-grad            9.0              Widowed   Other-relative
48840   Bachelors           13.0   Married-civ-spouse          Husband
48841   Bachelors           13.0             Divorced        Own-child

[48842 rows x 9 columns]

In [36]:
print(csv2)

               Workclass    fnlwgt  Capital Gain  Capital Loss  \
0              State-gov   77516.0        2174.0           0.0
1       Self-emp-not-inc   83311.0           0.0           0.0
2                Private  215646.0           0.0           0.0
3                Private  234721.0           0.0           0.0
4                Private  338409.0           0.0           0.0
...                  ...       ...           ...           ...
48838            Private  215419.0           0.0           0.0
48839                  ?  321403.0           0.0           0.0
48840            Private  374983.0           0.0           0.0
48841            Private   83891.0        5455.0           0.0
48842       Self-emp-inc  182148.0           0.0           0.0

       Hours per week          ID   Target
0                40.0       49084    <=50K
1                13.0       68553    <=50K
2                40.0      143654    <=50K
3                40.0       41510    <=50K
4                40.0      195025    <=50K
...               ...         ...      ...
48838            36.0   735617153   <=50K.
48839            40.0  1131807446   <=50K.
48840            50.0   781422087   <=50K.
48841            40.0   161771296   <=50K.
48842            60.0  1344995623    >50K.

[48843 rows x 7 columns]

In [31]:
#Veo los datos nulos y NaN
print(csv1.isnull().sum())
#Total
print(csv1.isnull().sum().sum())
print(csv1.isna().sum())
#Total
print(csv1.isna().sum().sum())

Age               1
Sex               1
ID                0
Race              1
Country           1
Education         1
Education-Num     1
Marital Status    1
Relationship      1
dtype: int64
8
Age               1
Sex               1
ID                0
Race              1
Country           1
Education         1
Education-Num     1
Marital Status    1
Relationship      1
dtype: int64
8

In [32]:
#Veo los datos nulos y NaN
print(csv2.isnull().sum())
#Total
print(csv2.isnull().sum().sum())
print(csv2.isna().sum())
#Total
print(csv2.isna().sum().sum())

Workclass         1
fnlwgt            1
Capital Gain      1
Capital Loss      1
Hours per week    1
ID                0
Target            1
dtype: int64
6
Workclass         1
fnlwgt            1
Capital Gain      1
Capital Loss      1
Hours per week    1
ID                0
Target            1
dtype: int64
6

In [35]:
#Uno las tablas a partir de los ID
MergeTables = pd.merge(csv1, csv2, how='inner',on = ['ID'])
print(MergeTables)

        Age      Sex          ID                 Race         Country  \
0      39.0     Male       49084                White   United-States
1      50.0     Male       68553                White   United-States
2      38.0     Male      143654                White   United-States
3      53.0     Male       41510                Black   United-States
4      28.0   Female      195025                Black            Cuba
...     ...      ...         ...                  ...             ...
48837  33.0     Male   597186815                White   United-States
48838  39.0   Female   735617153                White   United-States
48839  64.0     Male  1131807446                Black   United-States
48840  38.0     Male   781422087                White   United-States
48841  44.0     Male   161771296   Asian-Pac-Islander   United-States

        Education  Education-Num       Marital Status     Relationship  \
0       Bachelors           13.0        Never-married    Not-in-family
1       Bachelors           13.0   Married-civ-spouse          Husband
2         HS-grad            9.0             Divorced    Not-in-family
3            11th            7.0   Married-civ-spouse          Husband
4       Bachelors           13.0   Married-civ-spouse             Wife
...           ...            ...                  ...              ...
48837   Bachelors           13.0        Never-married        Own-child
48838   Bachelors           13.0             Divorced    Not-in-family
48839     HS-grad            9.0              Widowed   Other-relative
48840   Bachelors           13.0   Married-civ-spouse          Husband
48841   Bachelors           13.0             Divorced        Own-child

               Workclass    fnlwgt  Capital Gain  Capital Loss  \
0              State-gov   77516.0        2174.0           0.0
1       Self-emp-not-inc   83311.0           0.0           0.0
2                Private  215646.0           0.0           0.0
3                Private  234721.0           0.0           0.0
4                Private  338409.0           0.0           0.0
...                  ...       ...           ...           ...
48837            Private  245211.0           0.0           0.0
48838            Private  215419.0           0.0           0.0
48839                  ?  321403.0           0.0           0.0
48840            Private  374983.0           0.0           0.0
48841            Private   83891.0        5455.0           0.0

       Hours per week   Target
0                40.0    <=50K
1                13.0    <=50K
2                40.0    <=50K
3                40.0    <=50K
4                40.0    <=50K
...               ...      ...
48837            40.0   <=50K.
48838            36.0   <=50K.
48839            40.0   <=50K.
48840            50.0   <=50K.
48841            40.0   <=50K.

[48842 rows x 15 columns]

In [39]:
datosDiferentes = MergeTables.isna()

         Age    Sex     ID   Race  Country  Education  Education-Num  \
0      False  False  False  False    False      False          False
1      False  False  False  False    False      False          False
2      False  False  False  False    False      False          False
3      False  False  False  False    False      False          False
4      False  False  False  False    False      False          False
...      ...    ...    ...    ...      ...        ...            ...
48837  False  False  False  False    False      False          False
48838  False  False  False  False    False      False          False
48839  False  False  False  False    False      False          False
48840  False  False  False  False    False      False          False
48841  False  False  False  False    False      False          False

       Marital Status  Relationship  Workclass  fnlwgt  Capital Gain  \
0               False         False      False   False         False
1               False         False      False   False         False
2               False         False      False   False         False
3               False         False      False   False         False
4               False         False      False   False         False
...               ...           ...        ...     ...           ...
48837           False         False      False   False         False
48838           False         False      False   False         False
48839           False         False      False   False         False
48840           False         False      False   False         False
48841           False         False      False   False         False

       Capital Loss  Hours per week  Target
0             False           False   False
1             False           False   False
2             False           False   False
3             False           False   False
4             False           False   False
...             ...             ...     ...
48837         False           False   False
48838         False           False   False
48839         False           False   False
48840         False           False   False
48841         False           False   False

[48842 rows x 15 columns]